# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# Virtual environments
venv/
env/
*.egg-info/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IntelliJ project files
*.iml
.idea/